asgiref==3.7.2
attrs==23.2.0
brotli==1.1.0
cffi==1.16.0
charset-normalizer==3.3.2
cssselect2==0.7.0

Django==4.2.11
django-cors-headers==4.3.1
django-crontab==0.7.1
django-extensions==3.2.3
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2

et_xmlfile==1.1.0
fonttools==4.51.0
inflection==0.5.1

jsonschema==4.21.1
jsonschema-specifications==2023.12.1

numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
pillow==10.3.0

psycopg2-binary==2.9.9

pycparser==2.21
pydyf==0.10.0
PyJWT==2.8.0
pyphen==0.15.0

python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1

referencing==0.33.0

reportlab==4.0.9

rpds-py==0.18.1

six==1.16.0
sqlparse==0.4.4

tinycss2==1.2.1
tinyhtml5==2.0.0

typing_extensions==4.9.0
tzdata==2024.1

uritemplate==4.1.1

weasyprint==60.2
webencodings==0.5.1
zopfli==0.2.3

gunicorn==21.2.0
